header {
    text-align: center;
    color: white;
    background-color: navy;
    font-size: 56px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#searchArea {
    background-color: lightgrey;
}